<!-- app/views/emails/_form.html.erb -->
<%= form_with(model: email, id: "#{dom_id(email)}_form") do |form| %> <% if
email.errors.any? %>
<div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
  <h2>
    <%= pluralize(email.errors.count, "error") %> prohibited this todo from being
    saved:
  </h2>

  <ul>
    <% email.errors.each do |error| %>
    <li><%= error.full_message %></li>
    <% end %>
  </ul>
</div>
<% end %>


<div class="relative top-0 right-2">
  <%= form.submit class: "mt-px rounded-full py-4 px-5 bg-sky-500 text-white
  font-medium cursor-pointer border-2 border-sky-500 hover:bg-sky-600
  hover:border-sky-600" %>
</div>

<div class="mb-6">
  <%= form.label :object, class: "sr-only" %>
  <%= form.label :body, class: "sr-only" %>
  <div class="relative"></div>
</div>

<% end %>