
<p class="float-right w-9/12" style="color: green"><%= notice %></p>

<%= render @email %>

<div class="float-right w-9/12">
  <%= link_to "Edit this email", edit_email_path(@email) %> |
  <%= link_to "Back to emails", emails_path %>

  <%= button_to "Destroy this email", @email, method: :delete %>
</div>

